{% load staticfiles %}
<!-- CSS -->
<link rel="stylesheet" type="text/css" href={% static "css/bootstrap.css" %} media="screen" />
<link href="http://code.jquery.com/ui/1.10.2/themes/blitzer/jquery-ui.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href={% static "css/style.css" %} media="screen" />
<link rel="icon" href={% static "img/logo_icon.ico" %}>

<!-- JS -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src={% static "js/bootstrap.js" %}></script>
<script src={% static "js/bootstrap-hover-dropdown.js" %}></script>

<!-- meta -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">