<ul class="dropdown-menu">
  <li><a href="{% url 'favorites' %}">
  <span class="glyphicon glyphicon-heart"></span>  Favorites</a>
  </li>
  <li><a href="{% url 'search-group-manage' %}">
  <span class="glyphicon glyphicon-repeat"></span>  Group Search</a>
  </li>
  <li><a href="{% url 'user_profile' %}">
  <span class="glyphicon glyphicon-user"></span>  Edit Profile</a>
  </li>
  <li><a href="{% url 'account_logout' %}">
  <span class="glyphicon glyphicon-lock"></span>  Logout</a>
  </li>
</ul>