{% block col_div %}<div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">{% endblock %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>{% include "flowcore/forms/general/form_title_text.html" %}</h2>
        </div>
        <div class="panel-body">
            {% include "flowcore/general/form_status_message.html" %}
            <div class="col-md-offset-2 col-md-8 col-xs-10 col-xs-offset-1">
                <form class="submission-form" {% if form.is_multipart %}enctype="multipart/form-data"  {% endif %}method="POST">
                {% block form %}
                    {% for f in form %}
                    <div class="panel-form-label">
                        {{ f.label }}
                        {% if f.errors %}
                        <div class="alert alert-danger">
                            {{ f.errors }}
                        </div>{% endif %}
                    </div>
                    <div class="panel-form-field">{{ f }}</div>
                    {% endfor %}
                {% endblock %}
                <input type="submit" class="btn btn-rentsity btn-block" value="{% include 'flowcore/forms/general/form_submit_text.html' %}">{% csrf_token %}
                </form>
            </div>
        </div>
        <div class="panel-footer">

        </div>
    </div>
</div>