{% extends "flowcore/tables/default.html" %}

{% block table_head %}
    {% include "flowcore/general/form_status_message.html" %}
    <tr class="table-header">
        <td>ID</td>
        <td>Title</td>
        <td>Status</td>
        <td>Urgency</td>
    </tr>
{% endblock %}

{% block table_body %}
    {% for t in object_list %}
    <tr>
        <td>{{ t.id }}</td>
        <td>{{ t.title }}</td>
        <td>{{ t.get_status_display }}</td>
        <td>{{ t.get_urgency_display }}</td>
        <td><a href="{% url 'task-update' t.id %}"
            class="btn btn-success btn-block"><span class="glyphicon glyphicon-pencil"></span> Edit</a></td>
    </tr>
    {% endfor %}
{% endblock %}