<!-- Modal -->
<div class="modal fade" id="newRoommateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header default-modal-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Roommate Posting</h3>
      </div>
      <div class="modal-body default-modal-body text-center">
          <div class="submission-form-modal-container">
            {% include "maininclude/forms/roommate.html" %}
          </div>
      </div><!-- end body -->
      <div class="modal-footer default-modal-footer text-center">
      </div>
    </div>
  </div>
</div>