<script type="text/javascript" src="/static/js/usermodal.js"></script>
<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      {% include "maininclude/accounts/fb_login.html" %}

      <div class="modal-header default-modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title text-center" id="user-modal-title">Login/Register</h2>
      </div>

      <div class="modal-body default-modal-body">

        <div id="mLogin" class="login-modal-section">
            <div class="submission-form-modal-container">
                <a href="javascript:allauth.facebook.login('', 'authenticate', 'login')">
                    <img class="social-btn img-responsive img-rounded" src="/static/img/fb_btn.png" /></a>
                <h3 class="text-center">OR</h3>
                {% include "maininclude/forms/login.html" %}
                <p class="pull-right">Not Registered? <button id="btn-register" class="btn btn-xs btn-default">Sign Up</button></p>
            </div>
        </div><!-- end login -->

        <div id="mRegister" class="login-modal-section hidden">
            <div class="submission-form-modal-container">
                <a href="javascript:allauth.facebook.login('', 'authenticate', 'login')">
                    <img class="fb-login img-responsive img-rounded" src="/static/img/fb_btn.png" /></a>
                <h3 class="text-center">OR</h3>
                {% include "maininclude/forms/register.html" %}
                <p class="pull-right" style="margin-top:10px;">Already Registered? <button id="btn-login" class="btn btn-xs btn-default">Sign In</button></p>
            </div>
        </div><!-- end register -->

      </div><!-- end body -->

      <div class="modal-footer default-modal-footer">
        <button type="button" id="btn-user-cancel" class="btn-lg btn-default" data-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>