{% extends "calayouts/control.html" %}
{% load crispy_forms_tags %}

{% block data %}
    <div class="inner">
        {% include "cainclude/content_nav.html" %}
        <div class="row">
            <div class="col-sm-4">
                <table class="table table-striped">
                    <tbody>
                        {% with articles as object_list %}
                            {% include "cainclude/table.html" %}
                        {% endwith %}
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4">
                <table class="table table-striped">
                    <tbody>
                        {% with deals as object_list %}
                            {% include "cainclude/table.html" %}
                        {% endwith %}
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4">
                <table class="table table-striped">
                    <tbody>
                        {% with events as object_list %}
                            {% include "cainclude/table.html" %}
                        {% endwith %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}