{% extends "maininclude/base.html" %}
{% load staticfiles %}

{% block title %}
    RentVersity.com | Student Apartments and Community
{% endblock %}

{% block body_extra %}
    <script src="{% static 'js/plugins/stellar.js' %}"></script>
    <script src="/static/js/home.js"></script>
{% endblock %}

{% block body %}
    <div data-stellar-background-ratio="0.2" id="home-background" style="background:url('/static/img/misc/background.jpg') no-repeat;
    -webkit-background-size: cover; background-size: cover; height:500px;">
    </div>
    <div>
        {% include "maininclude/searchlg.html" %}
    </div>

    <div id="home-content">
        <div class="container">
            <div class="row">
                <div class="jumbotron home-text text-center">
                    <p>We're not like the other guys</p>
                </div>
            </div>
            <div id="home-tiles">
                <div class="row">
                    <div class="col-xs-4">
                        <img src="{% static 'img/misc/student1.png' %}" class="img-rounded"></img>
                    </div>
                    <div class="col-xs-4">
                        <img src="{% static 'img/misc/student2.png' %}" class="img-rounded"></img>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <img src="{% static 'img/misc/student3.png' %}" class="img-rounded"></img>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="jumbotron">
                            <h2>Your peers are finding you great housing</h2>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="jumbotron">
                            <h2>Get a feel for the neighborhood</h2>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="jumbotron">
                            <h2>Read student reviews before you commit</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="jumbotron">
                    <div class="col-md-12 text-center">
                        <div class="fb-like" data-href="https://www.facebook.com/studentrentit" data-layout="standard"
                            data-action="like" data-show-faces="true" data-share="true">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}