/*
    Broken out into sections
    General, Footer, Modals, Forms,
    Search, Property, Bootstrap Mods,
    Registration

    rentversity mint: #0fab72
    rentversity darkes: #282929
    rentverstiy darker gray: #a6a6a6
    rentversity gray: #eeeeee
    
    rentsity main color: #F67055
    rentsity alt color: #3D3E42
*/

/***** General *****/
html {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    padding-top:50px;
}
html, body {
    height: 100%;
}
.dark-bg {
    background-color: #a6a6a6;
}
.skinny,
.jumbotron h1 {
    font-weight:300;
}
.no-gutter {
    padding-left:0;
    padding-right:0;
}
.no-margin {
    margin-left:0;
    margin-right:0;
}
.margin-top {
    margin-top: 50px;
}
.full-height {
    height:100%;
}
.ui-datepicker-header {
    background:#0fab72;
    border-color:#0fab72;
}
#wrap {
    /*background-color: #eeeeee;*/
	min-height: 100%;
	width: 100%;
}

#main {
  overflow:hidden;
  padding-bottom: 150px; /* this needs to be bigger than footer height*/
}

footer {
	padding-top: 20px;
	background-color: #3D3E42;
}

.footer {
    background-color: white;
}

.home-banner {
    width: 100%;
}
#home-background {
    background:url('/static/img/misc/uw_courtyard.jpg') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 500px;
}

#header-logo {
    margin-top: 5px;
    height:40px;
}

.main-nav {
    margin-bottom: 0;
}

#main-search-box {
    display: block;
    position: absolute;
    z-index: 99;
    padding: 0 10px;
    background: rgba(61,62,66,0.9);
    left: 50%;
    margin-left: -500px;
    top: 200px;
    padding: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align:center;
    width:1000px;
    max-width:1000px;
}
#main-search-box h3.search-heading {
    font-weight:300;
    font-size:225%;
}
#main-search-box input {
    color:#3D3E42;
    font-size:150%;
    text-align:center;
    border:0;
}
#main-search-box .btn-brand {
    margin-top:-8px;
}
.home-banners {
    position: relative;
}
#home-tiles h2 {
    font-size:180%;
    font-weight:300;
    color:#3D3E42;
}
#home-tiles img {
    max-width:100%;
    height:auto;
}
#home-tiles .jumbotron {
    margin-top:0;
    padding-top:0;
}
.home-text p {
    font-weight:300;
    font-size:400%;
    margin-top:50px;
}

.school-container img {
    opacity:0.8;
}

.school-container img:hover {
    opacity:1;
}

.school-container > div.row {
    padding:30px;
}

.img-caption-overlay {
    position: absolute;
    top: 50%;
    width:70%;
    background: rgba(0, 0, 0, .5);
    color:white;
    margin:0;
    padding:5px;
}

.social-links-container {
    display:inline;
}

.social-links-container img {
    opacity:0.75;
}

.social-links-container img:hover {
    opacity:1;
}

.social-btn {
    max-width:70%;
    display:inline;
    text-align:center;
}

.main-color {
    color:#0fab72;
}
.main-inverse {
    background-color:#0fab72;
    color:#fff;
}
.alt-color {
    color:#3D3E42;
}
.alt-inverse {
    background-color:#3D3E42;
    color:#fff;
}
.slider {
    width:100%;
    display:inline-block;
}

@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.shake:hover,
.shake:focus {
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 1.0s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
}
.shake {
	display:inline-block
}

.ui-autocomplete {
    z-index:9999;
}

/***** Walkscore Objects *****/
.score-text {
    position: relative;
    color: #b14900;
    text-decoration: none;
    font-size: 15px;
    vertical-align: bottom;
}

.score-image {
    padding-bottom: 3px;
    display:inline;
}

/***** footer objects *****/
.footer-column {
    text-align:center;
}
.footer-column a:link,
.footer-column a:visited {
    color: white;
    text-decoration: none;
}
.footer-column a:hover,
.footer-column a:active {
    color: #0fab72;
    text-decoration: none;
}
.footer-column-header {
    font-size:150%;
    color:white;
    border-bottom:5px solid white;
}
.footer-column > ul {
    padding-left:0;
    list-style-type: none;
}
.footer-column > ul.footer-social-container {
    padding-left:5%;
}
.footer-social-container {
    background-color:white;
    padding:10px;
    margin:10px;
    border-radius:5px;
}
.footer-social-container > li {
    padding-top:5px;
    padding-bottom:5px;
}

#error-container h3 {
    padding-top:30px;
    padding-bottom:30px;
}

#error-container .btn-row {
    background-color:#eee;
    padding:15px 0;
    margin:0;
    border-radius:5px;
}

.navbar-nav .social-links-container img {
    margin-top:10px;
    height:30px;
}


/***** Modals *****/

.default-modal-header {
    background-color:#eee;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
}

.default-modal-footer {
    background-color:#eee;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
}

.manage-choice {
    margin:20px auto;
}

/***** Forms *****/
/* submission-* is used for defaults on all form objects
    generally we have 3 types of forms - default (rendered in the web-browser),
    panel (rendered in a panel), and modal (rendered in a modal). Right now we
    for modals we use the submission-form classes, but panel and modal/default
    need separate css */

/*submission-form-field input,select are generally created on the
manual forms and submission-form input,select */
.submission-form-field input,
.submission-form-field select,
.submission-form-field textarea,
.submission-form-field iframe,
.submission-form input,
.submission-form select,
.submission-form textarea {
    width:100%;
}

.submission-form-field,
.submission-form input,
.submission-form iframe,
.submission-form select {
    margin-bottom:10px;
}

.submission-form ul {
    list-style-type: none;
}

.submission-form-title {
    color:white;
    background-color: #5cb85c;
    margin-left:-15px;
    margin-right:-15px;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
}

.submission-form-label,
.panel-form-label {
    font-size:150%;
}

.panel-margin-top {
    margin-top:70px;
}

.submission-form-label p {
    margin:0;
}

.submission-form-menu-item {
    cursor: pointer;
}

.submission-form-menu-item:hover {
    opacity:0.7;
}

.submission-btn {
    width:100%;
}

.panel-form-label {
    margin-bottom:0;
    margin-top:15px;
}

.sumbission-form .submission-form-normal-text {
    font-size:100%;
}

.-form-field {
    margin-top:5px;
}

/***** Search *****/
html, body, #map-canvas {
    height: 100%;
    margin: 0;
}
.ui-slider-range {
    background:#3D3E42;
    border-color:#3D3E42;
}
.slider-text {
    border:0;
    font-weight:300;
    text-align:center;
}
.slider-label {
    font-size:140%;
    font-weight:300;
    margin-bottom:0;
    padding-bottom:0;
}
#map-canvas {
    -webkit-transition: width 1s ease;
            transition: width 1s ease;
    background: transparent url(/static/img/misc/loading.gif) no-repeat center center;
}
.map-side {
    height:100%;
    max-height:100%;
    overflow:scroll;
    background-color:#eeeeee;
}

.map-view {
    width:100%;
}
.list-view-row {
    padding:10px;
}
.list-view-row:nth-of-type(even) {
    background: #eee;
}
.list-view h4 {
    font-weight:300;
}

#btn-search-mobile {
    margin-top: 10px;
    margin-bottom: 10px;
}

.searchlg-items {
    font-size:150%;
}

#searchlg-item-list {
    width: 275px;
    margin-top:0;

}

#search-box {
    padding-top:40px;
}
#search-box > form > .row {
    margin-bottom:15px;
}
.search-nav {
    margin-bottom:0;
    margin-top:45px;
    z-index:950;
}
.search-heading {
    color:white;
    margin-top:0;
}
.search-banner-prepend,
.search-banner-input {
    padding:10px;
    background-color:#eeeeee;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    line-height:1;
}

.search-banner-input {
    margin:10px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}

.search-info-img {
    max-height:250px;
    margin-left:auto;
    margin-right:auto;
}
.search-input {
    text-align:center;
    border-radius:15px;
    font-size:150%;
}

.modal-dropdown-choices {
    font-size:120%;
}

.info_content {
    margin:5px;
    width:250px;
    color: #282929;
}
.info_content img {
    max-width:250px;
}
.info_content .school-item-content {
    font-size:150%;
    text-align:center;
}

.search-video-modal-row {
    margin-bottom: 50px;
}

.search-video-modal-row h2 {
    display:inline;
}

.search-video-modal-row > .btn {
    margin: 0 15px 15px 15px;
}

.search-multi-row {
    padding-left:0px;
}

.search-multi-row li {
    display:inline-block;
    background:#eeeeee;
    padding:10px;
    margin:5px 0 5px 0;
    border-radius:10px;
}

.search-multi-image-row li {
    display:inline-block;
    margin:5px 0 5px 0;
    opacity:0.4;
}

.search-multi-image-row .active li {
    opacity:1;
}
.price-overlay {
    position:absolute;
    bottom:30px;
    left:0;
    text-decoration:none;
    padding:10px;
}
#group-feature-list li {
    list-style-type:none;
    padding:20px;
    font-size:150%;
    font-weight:300
}
#group-search-main {
    background-color: #eee;
}
#group-search-side {
    color:#fff;
}
#group-search-side .header {
    color:black;
    text-align:center;
}
#group-search-side p {
    margin:0;
}
#group-search-side a {
    color:white;
}
#group-search-side a:hover {
    color:#0fab72;
    text-decoration:none;
}
#group-search-content {
    background-color:#fff;
    margin:40px;
    padding:20px;
    border-radius:5px;
}
.group-comments {
    border: 3px solid #0fab72;
    border-radius: 5px;
    background-color: #eee;
}
.group-comments header {
    background-color: #0fab72;
    color: white;
    text-align: center;
    font-weight:300;
    font-size:150%;
}
.group-comments .inner {
    padding:20px;
}
.group-comments form {
    color: white;
    float: right;
    padding:15px;
}
.group-comments > .inner > .comment {
    padding-top:5px;
    padding-bottom:5px;
}
.group-list-view-row {
    background-color: white!important;
}



/***** OTHER *****/
.row-howitworks {
    margin:15px 0;
    padding:15px 0;
}

.row-howitworks h1 {
    text-align:center;
}

.row-howitworks a:active,
.row-howitworks a:link,
.row-howitworks a:visited {
    text-decoration: none;
    color: inherit;
}
.row-howitworks a:hover {
    color: gray;
}
.nav-howitworks li {
    font-size:150%;
}

.list-view-content .button-group {
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

/***** dunno *****/

.img-howitworks {
    margin-left:auto;
    margin-right:auto;
    max-height:100%;
}

.double-column {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}


/***** bootstrap object extensions *****/
/*.nav > li:hover {
    background-color: #64aa00;
}*/

/* add onhover to dropdowns. There is also the bootstrap-dropdown-hover.js
    file but it isn't working correctly in the nav yet */
.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}

.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

.input-dropdown {
    padding-right:25px;
    width:600px;
}

.dropdown-label {
    font-size:130%;
    padding-left:15px;
}

/***** Banner info *****/

.banner-info-img {
    border-radius: 150px;
    height:300px;
    width:300px;
}

.bannerinfo div {
    background-color: #fff;
    padding-bottom: 25px;
}

.bannerinfo-row div {
    background-color: inherit;
}

/***** Property *****/
.property-content {
    background:#eee;
    margin-top:3em;
    padding-bottom:3em;
    border-radius:5px;
}

.property-form-label {
    text-align:right;
    padding-right:2em;
}
#room-detail > div.row {
    padding-bottom:15px;
}
#room-detail .total-row {
    font-size:120%;
}
#room-detail,
#contact-detail {
    border:1px #eeeeee solid;
    border-top:none;
    padding:5px;
}
#property-detail-row {
    background-color:#eeeeee;
    padding:30px 0;
}
.property-detail-label {
    font-size:220%;
    font-weight:300;
}
#nearby-container h4 {
    font-size:120%;
    font-weight:300;
}
#nearby-container a {
    text-decoration:none;
    color:black;
}
#review-row-container {
    padding:30px 0;
}
.review-row {
    padding:15px 0;
}

.carousel-property-item img {
  width: auto;
  height: 500px;
  max-height: 500px;
}

.table-header td {
    font-size:140%;
}

.property-video-container {
    width: 100%;
    text-align:center;
}

.business-video-container iframe,
.property-video-container iframe {
    max-width:100%;
}

.property-special-row {
    display: inline-block;
    margin-top:15px;
}

.property-special-row > a {
    text-decoration: none;
}

.property-special-row img {
    max-height:40px;
    display:inline-block;
    margin-right:10px;
}


.video-cell iframe {
    width:100%;
}

.related-property-well img {
    margin-bottom:10px;
}

.package-panel-body ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

/***** School *****/
.blog-school-img img:hover {
    opacity:1;
}
.blog-school-img:hover {
    opacity:0.6;
}

#school-item-list div.item-header {
    color:white;
    text-align:center;
    font-weight:300;
    border-top-right-radius:3px;
    border-top-left-radius:3px;
}
#school-item-list div.item-body {
    backbround-color:white;
}
.school-item {
    padding-left:30px;
    padding-right:30px;
    margin-bottom:20px;
}
.school-item > .item-picture {
    padding:10px;
    background-color: white;
}
.school-item > .item-picture img {
    margin-left:auto;
    margin-right:auto;
}
.school-item > .item-body {
    background-color: white;
    padding:10px;
    border-bottom-right-radius:3px;
    border-bottom-left-radius:3px;
}
.event-item-header {
    background-color:#eb6923;
}
.article-item-header {
    background-color:#2a98d4;
}
.deal-item-header {
    background-color:#586bb0;
}

#school-main-banner {
    width:100%;
}

.school-blog-content {
    border:1px solid #eeeeee;
    padding:5px;
    background: white;
}

.school-blog-row {
    margin-bottom:30px;
}

.property-list-panel-body a {
    display:block;
    color:black;
}


#blog-article-img {
    margin-left:auto;
    margin-right:auto;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
}

.blog-embed-img-row {
    width:100%;
}

.blog-embed-img-row > img {
    margin-left:auto;
    margin-right:auto;
    width:50%;
}

.school-content {
    padding-top:20px;
    padding-bottom:20px;
}

.nav-school > li > a:link,
.nav-school > li > a:visited,
.nav-howitworks > li > a:link,
.nav-howitworks > li > a:visited
.property-community-pills > li > a:link,
.property-community-pills > li > a:visited {
    color:black;
}


.nav-school > li.active > a,
.nav-howitworks > li.active > a {
    color:white;
}

.school-row > td {
     padding-top:40px !important;
     padding-bottom:40px !important;
}

.school-row > td > img {
}

.school-bottom-btns > a {
    margin-left:20px;
    margin-right:20px;
}

/***** Favorites *****/
#favorites-container {
  -webkit-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
}

.favorite-note-td {
    max-width:200px;
}

.school-featured h2 {
    border-bottom:3px solid #5cb85c;
}

/***** Blog *****/
.blog-home-content,
.blog-article-content-inner {
    border:solid 1px #777777;
    border-top:none;
    padding:15px;
}
.blog-home-content {
    background-color:#fff;
    margin-bottom: 15px;
}

#blog-article-list {
    margin:15px;
}

.article-footer-articles {
    margin-bottom:20px;
}

.article-footer-articles a:link,
.article-footer-articles a:visited {
    color:black;
    text-decoration:none;
}

.article-footer-articles a:hover,
.article-footer-articles a:active {
    color:gray;
    text-decoration:none;
}

.blog-share {
    background-color: #e7e7e7;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.blog-share > div {
    overflow:hidden;
    text-align:left;
}

.post-author img {
    max-width:100%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
}

.blog-page-header,
.page-header,
.report-header {
    background-color: #0fab72;
    border-radius: 5px;
    color: white;
    padding-top:15px;
    padding-bottom:15px;
    font-weight:300;
    border-bottom:none;
}

.report-header {
    border-radius:0;
    margin-top:0;
}

.img-opacity {
    opacity:0.6;
}
.img-opacity:hover {
    opacity:1;
}

/***** Reports *****/
.dashboard-section {
    border-right:1px solid #a6a6a6;
    padding:19px;
}
.dashboard-section > .title {
    text-align: center;
    color: #a6a6a6;
}
.dashboard-section > .data {
    text-align: center;
    font-weight: bold;
    font-size: 500%;
}


/***** Responsive Section *****/
@media (max-width: 768px) {


    /*** Property ***/
    .property-tabs {
        font-size: 1em;
    }
    .property-content .jumbotron h1 {
        font-size:1.5em
    }
    .property-content .jumbotron {
        margin:0;
    }
    .property-image-table-cell {
        width:100px;
    }
    .parent-tabs {
        font-size:0.8em;
    }


    /*** Roommate ***/
    .roommate-form-field {
        width: 90%;
        font-size: 1.3em;
    }


    /*** Forms ***/
    .submission-form input,
    .submission-form select,
    .submission-form textarea,
    .submission-form .input-group input {
        border: 1px solid #999999;
        padding: 5px;
        font-size: 100%;
        border-radius: 4px;
    }

    .submission-form textarea {
        height:100px;
    }

    .registration-modal-form  {
        width: 70%;
    }

    .property-form-label {
        font-size:1.5em;
    }
    .list-view {
        width:0%;
    }

    /***** Modals *****/
    .manage-modal-btn,
    .btn-reg {
        width: 90%;
        font-size: 1.3em;
    }
    .modal-submission-form-container {
        width:70%;
        margin-left:15%;
    }
    .property-video iframe {
        width:100%;
    }

    /***** School *****/
    .nav-school > li {
        font-size: 160%;
    }
}

@media (min-width: 768px) {

    /*** Property ***/
    .property-tabs {
        font-size: 2em;
    }

    .property-image-table-cell {
        width:200px;
    }


    /*** Roommate ***/
    /* used in modals because col-* does not work
        in md and lg keep at 100% */

    .submission-form-modal-container {
        width:70%;
        margin-left:15%;
    }

    .roommate-form-field {
        width: 70%;
    }


    /*** Forms ***/
    .submission-form input,
    .submission-form select,
    .submission-form textarea,
    .submission-form .input-group input {
        border: 1px solid #999999;
        padding: 5px;
        font-size: 170%;
        border-radius: 4px;
    }

    .submission-form textarea {
        height:200px;
        font-size:100%;
    }

    .registration-modal-form {
        width: 90%;
        font-size: 1.3em;
    }
    .property-form-label {
        font-size:0.8em;
    }

    /***** Modals *****/
    .manage-modal-btn,
    .btn-reg {
        width: 70%;
        font-size: 2em;
    }
    .modal-submission-form-container {
        width:70%;
        margin-left:15%;
    }

    /***** School *****/
    .nav-school > li {
        font-size: 160%;
    }

}

/***** Community *****/
.community-main-container {
    margin-top:20px;
}
.property-community-pills {
    font-size:150%;
}
.property-community-pills > li > a {
    color:black;
}

/***** Scrape *****/
.admin-city-input {
    font-size:130%;
    border-radius:10px;
    border: 1px solid #eeeeee;
    margin-top:10px;
    text-align:center;
}


/***** Campus Ambassador *****/
.ca-container {
    height:100%;
}
#ca-data {
    background-color:#282929;
    min-height:100%;
    color: white;
}
#ca-data .inner {
    margin:25px;
    background-color:#fff;
    padding:10px;
    border-radius:5px;
}
#ca-data .inner {
    color:#282929;
}

#ca-menu {
    padding-right:0;
    border-right:none;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}
#ca-menu a {
    color:inherit;
    text-decoration:none;
}
#ca-menu a:hover {
    cursor:hand;
}
#ca-menu .row {
    border: 1px solid #dedede;
}
#ca-menu .row:hover {
    background-color:#0fab72;
    color:white;
}
#ca-menu .menu-icon {
    background-color:#eee;
    text-align:center;
    height:50px;
    color:black;
}
#ca-menu .row {
    border: 1px solid #dedede;
}
#ca-menu .row > a > div {
    padding-top:15px;
    padding-bottom:15px;
}
#ca-menu .glyphicon {
    float:right;
}

#ca-dashboard {
    margin:15px;
}
#ca-dashboard > img {
    padding: 5px;
}
#ca-home-container,
#group-search-container {
    padding:25px;
    background-color:#eee;
    margin-bottom: -150px;
}
#ca-testimonials > div.testimonial {
  min-height: 20px;
  margin:20px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
div.testimonial > div.person {
    padding:5px;
    text-align:center;
    font-weight: 800;
    background-color: #0fab72;
    color:#fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
div.testimonial > p {
    padding:19px;
}

.ca-form-container {
    padding-top:15px;
}
.ca-form-container legend {
    text-align: center;
    font-size: 250%;
    font-weight:300;
}
#ca-data legend {
    text-align:center;
    font-size:200%;
    font-weight:300;
}
#ca-data form {
    margin-top:30px;
}
#ca-data .nav a {
    color:#282929;
}
#ca-data .nav li.active a {
    color:#fff;
}



