<div class="text-center school-bottom-btns">
    {# if the user is logged in, let them add objects #}
    {% if user.is_authenticated %}
        <a href="#" class="btn btn-success btn-lg" data-toggle="modal"
            {# set up the click action to trigger the correct modal #}
            {% if page == "articles" or page == None %}
                data-target="#addArticleModal"
            {% elif page = "events" %}
                data-target="#addEventModal"
            {% elif page = "deals" %}
                data-target="#addDealModal"
            {% elif page = "roommates" %}
                data-target="#addRoommateModal"
            {% endif %}><span class="glyphicon-plus"></span>
            &nbspAdd {% if bottom_btn_text %}{{ bottom_btn_text }}{% else %}{{ page|title }}{% endif %}
        </a>
    {% endif %}
</div>