<div class="panel panel-default">
    <div class="panel-heading">
        <h2>
            {{ header_text }}
        </h2>
    </div>
    <div class="panel-body">
        <div class="col-md-8 col-md-offset-2">
        {% for o in object_list %}
            <a href="
            {# get href based on url #}
            {% if 'article' in request.path %}
                {% url 'update-article' o.id %}
            {% elif 'event' in request.path %}
                {% url 'update-event' o.id %}
            {% elif 'deal' in request.path %}
                {% url 'update-deal' o.id %}
            {% elif 'roommate' in request.path %}
                {% url 'update-roommate' o.id %}
            {% endif %}
            " class="btn btn-success btn-block btn-lg">{% if o.title %}{{ o.title }}{% else %}{{ o.name }} - {{ o.create_date }}{% endif %}</a>
        {% endfor %}
        </div>
    </div>
    <div class="panel-footer">
    </div>
</div>