{# don't show error here becuase it shows on the modal that pops up on error #}
{% if status == "saved" %}
<div class="alert alert-success">Your changes have been saved successfully
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
</div>
{% elif status == "sent" %}
<div class="alert alert-success">Your message has been sent successfully
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
</div>
{% endif %}