{% if forloop.first or forloop.counter0|divisibleby:"2" %}
    <div class="row list-view-row{% if gp %} group-list-view-row{% endif %}">
{% endif %}
    <div class="col-xs-6">
        <a href="{% url 'property' p.id p.title|slugify %}" style="position:relative;">
            <!--<img src="{% with p.propertyimage_set.all|first as img %}{{ img.get_url }}{% endwith %}"-->
            <img src="/static/img/temp_offline.jpg"
            title="Apartments - {{ p.title }}" alt="Apartments - {{ p.title }}" class="img-responsive" />
            <div class="price-overlay main-inverse">
                ${{ p.low_price|floatformat:"0" }}/${{ p.high_price|floatformat:"0" }}
            </div>
        </a>
        <div class="list-view-content">
            <div class="col-sm-9">
                <h3>{{ p.title }}</h3>
                <h4>{{ p.addr }}</h4>
            </div>
            <div class="col-sm-3 button-group">
                {% if request.user.profile.get_groups and not gp %}
                    {% include "searchinclude/group_search_button.html" %}
                {% endif %}
                {% include "propertyinclude/favorite.html" %}
            </div>
            <div class="col-sm-12 text-center">
                {% if p.rating %}
                    {% with p.rating as rating %}
                        {% include "maininclude/rating.html" %}
                    {% endwith %}
                {% endif %}
            </div>
        </div>
        {% include "searchinclude/comments.html" %}
    </div>
{% if forloop.last or forloop.counter|divisibleby:"2" %}</div>{% endif %}