<div class="container-fluid">
    <div class="row">
        <a href="{% url 'ca-dashboard' %}">
            <div class="menu-icon col-sm-3">
                <span class="glyphicon glyphicon-stats"></span>
            </div>
            <div class="menu-content col-sm-9">
                <span>Dashboard</span>
                <span class="glyphicon glyphicon-chevron-right"></span>
            </div>
        </a>
    </div>
    <div class="row">
        <a href="{% url 'ca-manage-property' %}">
            <div class="menu-icon col-sm-3">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
            <div class="menu-content col-sm-9">
                <span>Property</span>
                <span class="glyphicon glyphicon-chevron-right"></span>
            </div>
        </a>
    </div>
    <div class="row">
        <a href="{% url 'ca-edit-content' %}">
            <div class="menu-icon col-sm-3">
                <span class="glyphicon glyphicon-edit"></span>
            </div>
            <div class="menu-content col-sm-9">
                <span>Content</span>
                <span class="glyphicon glyphicon-chevron-right"></span>
            </div>
        </a>
    </div>
    <div class="row">
        <a href="{% url 'ca-support' %}">
            <div class="menu-icon col-sm-3">
                <span class="glyphicon glyphicon-cog"></span>
            </div>
            <div class="menu-content col-sm-9">
                <span>Support</span>
                <span class="glyphicon glyphicon-chevron-right"></span>
            </div>
        </a>
    </div>
</div>