{% if sent %}
<div class="alert alert-success">Roommate post uploaded successfully.</div>
{% endif %}
<form action="" method="post" class="submission-form roommate-form">
    <table>
        {% for field in form %}
        <tr class="fieldWrapper">
            <td class="roommate-form-field">{{ field|safe }}</td>
        </tr>
        <tr>
            <td>{{ field.errors }}</td>
        </tr>
        {% endfor %}
        <td><input type="submit" style="display:inline; width:100%; margin-top:10px;" class="btn btn-brand submission-btn" value="Post">{% csrf_token %}</td>
    </table>
</form>