{% extends "flowcore/tables/default.html" %}

{% block table_body %}
    {% for p in properties %}
        <tr>
            <td class="col-md-4"><h3>{{ p.title }}</h3>
                <a class="btn btn-success btn-lg" href="{% url 'property' p.id p.title|slugify %}">View Listing</a>
            </td>
            <td><img class="img-rounded img-responsive" style="max-width:200px;"
                     src="{% with p.propertyimage_set.all|first as img %}
                     {{ img.get_url }}{% endwith %}"></img>
            </td>
            <td><button class="btn btn-default btn-lg btn-restore" data-id="{{ p.id }}" data-toggle="tooltip"
                        data-title="{{ p.title }}" title="View {{ p.title }} in your future searches"> Restore
                        <span class="glyphicon glyphicon-ok"></span></button></td>
        </tr>
    {% endfor %}
{% endblock %}