{% extends "flowcore/tables/default.html" %}

{% block table_head %}
<tr class="property-table-header">
    <td>Image</td>
    <td>Order</td>
    <td>Caption</td>
    <td>Main</td>
    <td></td>
    <td></td>
</tr>
{% endblock %}

{% block table_body %}
{% for i in images %}
<tr>
    <td class="property-image-table-cell"><img src="{{ i.image.url }}" class="img-responsive img-rounded" /></td>
    <td>{{ i.order }}</td>
    <td>{{ i.caption }}</td>
    <td>{% if i.main %}Yes{% else %}No{% endif %}</td>
    <td>
        <a class="btn btn-sm btn-success btn-block" href="{% url "property-type" property.id 'image' i.id %}">Update</a>
    </td>
    <td>
        <a class="btn btn-sm btn-danger btn-block" href="{% url "property-type-delete" property.id 'image' i.id 'delete' %}"><span class="glyphicon glyphicon-trash"></span></a>
    </td>
</tr>
{% endfor %}
{% endblock %}