<div class="bannerinfo hidden-xs hidden-sm">
    <div class="row bannerinfo-row">
        <div class="jumbotron">
            <div class="col-sm-3 col-sm-offset-1">
                <img class="img-responsive banner-info-img" src="/static/img/bannerinfo/college.jpg">
            </div>
            <div class="jumbotron col-sm-6 col-sm-offset-1">
                <h1>Search By School</h1>
                <p>Select your school and find the most relevant listings near you!</p>
                <button class="btn btn-lg btn-success">Search Now</button>
            </div>
        </div>
    </div>
    <div class="row bannerinfo-row" style="background:#eee;">
        <div class="jumbotron">
            <div class="jumbotron col-sm-6 col-sm-offset-1">
                <h1>Parent Center</h1>
                <p>Utilize our Parent Center to find more information about the university, special events and get your questions answered by other parents.  </p>
                <button class="btn btn-lg btn-success">Learn More</button>
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <img class="img-responsive banner-info-img" src="/static/img/bannerinfo/parent.jpg">
            </div>
        </div>
    </div>
    <div class="row bannerinfo-row">
        <div class="jumbotron">
            <div class="col-sm-3 col-sm-offset-1">
                <img class="img-responsive banner-info-img" src="/static/img/bannerinfo/manage.jpg">
            </div>
            <div class="jumbotron col-sm-6 col-sm-offset-1">
                <h1>Let the Apartment search for you</h1>
                <p>Tell us what you want in your apartment and we will contact those apartments for you!</p>
                <button class="btn btn-lg btn-success">Manage Now</button>
            </div>
        </div>
    </div>
</div>