<nav class="navbar navbar-default navbar-fixed-top main-nav" role="navigation">
  <div class="container-fluid col-md-offset-1 col-md-10">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
          <a href="/"><img id="header-logo" src="/static/img/logo.png" /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>{% include "maininclude/general/social_links.html" %}</li>
        <li><a href="{% url 'search' %}">Search <span class="glyphicon glyphicon-search"></span></a></li>
        <li><a href="#" data-toggle="modal" data-target="#manageModal">Manage <span class="glyphicon glyphicon-pencil"></span></a></li>
        <li><a href="#" data-toggle="modal" data-target="#chooseSchoolModal">School Information <span class="glyphicon glyphicon-flag"></span></a></li>
        {% if user.is_authenticated %}
        <li><a>Welcome, {% if user.first_name%}{{ user.first_name }}{% else %}User{% endif %}!</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-asterisk"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'favorites' %}"><span class="glyphicon glyphicon-heart"></span>  Favorites</a></li>
                <li><a href="{% url 'user_profile' %}"><span class="glyphicon glyphicon-user"></span>  Edit Profile</a></li>
                <li><a href="{% url 'account_logout' %}"><span class="glyphicon glyphicon-lock"></span>  Logout</a></li>
            </ul>
          </li>
        {% else %}
        <li><a href="#" data-toggle="modal" data-target="#loginModal">Log In/Register <span class="glyphicon glyphicon-user"></span></a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{% include "maininclude/modals/manage.html" %}
{% include "maininclude/modals/user.html" %}
{% include "schoolinclude/modals/schoolinfo.html" %}