{% load staticfiles %}
<!-- CSS -->
<link rel="stylesheet" type="text/css" href={% static "css/bootstrap.css" %} media="screen" />
<link href="https://code.jquery.com/ui/1.10.2/themes/blitzer/jquery-ui.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href={% static "css/style.css" %} media="screen" />
<link rel="icon" href={% static "img/logo_icon.ico" %}>

<!-- JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
<script src={% static "js/bootstrap.js" %}></script>
<script src={% static "js/bootstrap-hover-dropdown.js" %}></script>
<script src={% static "js/analytics.js" %}></script>


<!-- meta -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<meta name="description" content="Find off-campus student apartments in your college or university.
    Search by a variety of different criteria as well as check out local deals,d
    events, and information.">
<meta name="keywords" content="Apartments, College Apartments, Apartment Communiy">

<!-- disallow search engine on dev/test -->
<meta name="robots" content="noindex, nofollow">
<meta name="googlebot" content="noindex, nofollow">
