{% if rating > 0.4 %}{% include "maininclude/full_star.html" %}{% else %}{% include "maininclude/empty_star.html" %}{% endif %}
{% if rating > 1.4 %}{% include "maininclude/full_star.html" %}{% else %}{% include "maininclude/empty_star.html" %}{% endif %}
{% if rating > 2.4 %}{% include "maininclude/full_star.html" %}{% else %}{% include "maininclude/empty_star.html" %}{% endif %}
{% if rating > 3.4 %}{% include "maininclude/full_star.html" %}{% else %}{% include "maininclude/empty_star.html" %}{% endif %}
{% if rating > 4.4 %}{% include "maininclude/full_star.html" %}{% else %}{% include "maininclude/empty_star.html" %}{% endif %}
({{ rating }})