<div id="main-search-box">
    <div class="row">
        <h3 class="search-heading">
            <p>Looking for that perfect college apartment sucks</p>
            <p class="main-color">But it doesn't have to</p>
        </h3>
    </div>
    <div class="row">
        <input class="search-input" placeholder="Max Rent Per Student"></input>
        <input class="search-input" placeholder="Enter School"></input>
        <input class="search-input" placeholder="Bedrooms"></input>
        <btn class="btn btn-rentsity text-center">Search <span class="glyphicon glyphicon-arrow-right"></span></btn>
    </div>
</div>