<div id="search-box">
    <div class="row">
        <div class="col-md-offset-1 col-md-5">
            Bedroom
            <div id="bed-slider" class="slider"></div>
        </div>
        <div class="col-md-5">
            Bathroom
            <div id="bath-slider" class="slider"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-5">
            Price
            <div id="price-slider" class="slider"></div>
        </div>
        <div class="col-md-5">
            Lease Type
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-md-5">
            Distance
            <div id="distance-slider" class="slider"></div>
        </div>
        <div class="col-md-5">
            Stuff
        </div>
    </div>
</div>