<div id="main-search-box">
    <div class="row">
        <div class="search-heading">
            <p>Looking for that perfect college apartment sucks</p>
            <p class="main-color">But it doesn't have to</p>
        </div>
    </div>
    <div class="row">
        <form id="main-search-form" method="post" action="">
            <input name="maxPrice" tabindex="1" id="search-rent" placeholder="Max Rent Per Student"></input>
            <input tabindex="2" id="search-school" data-link="" data-toggle="popover" title="Choose School"
                data-content="You must search apartments for a specific school campus" class="search-input stay" style="border-radius:0" placeholder="Enter School"></input>
            <input name="beds" tabindex="3" id="search-bed" placeholder="Bedrooms"></input>
            <input name="home-search" type="hidden"></input>
            <button tabindex="4" class="btn btn-brand text-center" id="home-search" type="button">Search
                <span class="glyphicon glyphicon-search"></span></button>
            {% csrf_token %}
        </form>
    </div>
</div>