{% extends "flowcore/general/panel.html" %}

{% block panel_heading %}
<h1>Service Payment Accepted</h1>
{% endblock %}


{% block panel_body %}
<div class="row" style="padding:20px;">
<p>Congratulations, your one time service payment for {{ property }} has been processed. You have purchased:
    {% for s in services %}{{ s }}{% if not forloop.last %}, {% endif %}{% endfor %}.
</p>

<p>We will be getting in contact with you within 2 days to finish the process
and scheduling of your purchased service.</p>

<p>Thank you,<br>
Student Rent It</p>
</div>
{% endblock %}

{% block panel_footer %}
<a href="{% url 'property' property.id property.title|slugify %}" class="btn btn-brand">View My Property</a>
<a href="{% url 'update-property' property.id %}" class="btn btn-brand">Update My Property</a>
{% endblock %}