{% extends "flowcore/tables/default.html" %}

{% block table_body %}
    {% for a in articles %}
        {% if forloop.counter < 6 %}
        <tr class="school-row">
            <td class="col-xs-6 col-md-6 col-sm-6" style="max-width: 50%; min-width: 50%">
                <img class="img-responsive img-rounded" style="width:100%;"src="{% if a.image %}{{ a.image.url }}{% endif %}" />
            </td>
            <td class="col-xs-6 col-md-6 col-sm-6">
                <h3>{{ a.title }}</h3>
                <p>{{ a.body|safe|slice:":250" }} ...</p>
                <a href="{% url 'blog-article' a.id a.title|slugify %}" class="btn btn-rentsity btn-block btn-sm">Keep Reading</a>
            </td>
        </tr>
        {% endif %}
    {% endfor %}
{% endblock %}