<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=773013889390875";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-like" data-href="https://www.facebook.com/studentrentit" data-layout="standard"
    data-action="like" data-share="false"></div>
<div style="margin-top:15px;" class="fb-share-button" data-href="{{ request.path }}"
    data-show-faces="true" data-type="button_count"></div>