{% extends "maininclude/base.html" %}
{% load main_extras %}

{% block title %}
    {{ property.title }} {{ property.get_type_display }} {{ property.city }}, {{ property.state }} {{ property.zip_cd }}
{% endblock %}

{% block javascript %}
    {% include "flowcore/general/openmodal.html" %}
    {% include "flowcore/general/datepicker.html" %}
{% endblock %}

{% block body_extra %}
    {% if property.contact_email %}
        {% include "propertyinclude/modals/contact.html" %}
        {% include "propertyinclude/modals/reserve.html" %}
        {% include "propertyinclude/modals/schedule.html" %}
    {% endif %}
    <script src="/static/js/favorite.js"></script>
    <script src="/static/js/tooltip.js"></script>
{% endblock %}

{% block body %}
<img class="img-responsive img-full" src="/static/img/misc/landscape.jpg" />
<div class="container">
    <div class="row" id="property-summary-row">
        <div class="col-md-8" id="property-content-column">
            <h1 class="skinny">{{ property.title }}</h1>
            <h3 class="skinny">{{ property.get_full_address }}</h3>
            <span class="skinny col-md-6">Distance to Campus:</span>
            <span class="skinny col-md-6">Noise Level:</span>
            <div class="row" id="rooms-row">
                {% include "propertyinclude/post_status.html" %}
                <table class="table table-striped">
                    <thead>
                        <tr class="table-header">
                            <td>Price</td>
                            <td>Bedroom</td>
                            <td>Bath</td>
                            <td>Sq Ft</td>
                            <td>Availability</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for r in property_rooms %}
                            <tr>
                                <td>{{ r.price }}</td>
                                <td>{{ r.get_bed_count_display }}</td>
                                <td>{{ r.get_bath_count_display }}</td>
                                <td>{{ r.sq_ft }}</td>
                                <td>{% if r.lease_start %}{{ r.lease_start }}{% else %}Unknown{% endif %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-offset-1 col-md-10" id="room-detail">
                <div class="row" style="position:absolute; top:-40px;">
                    <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                        Choose Floorplan
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">0BR/1BA/$500</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">1BR/1BA/$620</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">3BR/2BA/$1050</a></li>
                      </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        Monthly Rent
                    </div>
                    <div class="col-md-5">
                        $1000
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        Security Deposit
                    </div>
                    <div class="col-md-5">
                        $500
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        Last Month's Rent
                    </div>
                    <div class="col-md-5">
                        Required
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        Utilities
                    </div>
                    <div class="col-md-5">
                        Included
                    </div>
                </div>
                <div class="row total-row">
                    <div class="col-md-7">
                        Total Due Upfront
                    </div>
                    <div class="col-md-5">
                        $1500 <span class="glyphicon glyphicon-question-sign" id="price-info"
                            data-toggle="tooltip" title="This price is 100% accurate and if it turns out to be more expensive Brenden Martin will pay the difference"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-offset-1 col-md-10" id="contact-detail">
                <div class="col-md-4">
                    <img src="/static/img/temp/ambassador.jpg" class="img-circle img-responsive" style="margin-top:25px;" />
                </div>
                <div class="col-md-8">
                    <p>Jane Doe</p>
                    <p>Ambassador since 1/1/2013</p>
                    <p>Average Response Time: Never</p>
                </div>
            </div>
            <div class="col-md-12 text-center" style="margin:15px 0;">
                <div class="btn btn-lg btn-rentsity">
                    Schedule Tour <span class="glyphicon glyphicon-time"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row" id="property-detail-row">
        <div class="col-md-5 col-md-offset-1">
            {% include "propertyinclude/visual.html" %}
        </div>
        <div class="col-md-5" id="property-details">
            <div class="row">
                <div class="col-md-4 property-detail-label">
                    Amenities
                </div>
                <div class="col-md-8">
                    {% for a in property.amenities.all %}
                        <div class="col-md-6">{{ a }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="row" style="margin-top:30px;">
                <div class="col-md-4 property-detail-label">
                    Nearby
                </div>
                <div class="col-md-8" id="nearby-container">
                    {% for p in nearby %}
                        <div class="col-md-6">
                            <a href="{% url 'business' p.id p.title|slugify %}">
                                <img src="{% with p.propertyimage_set.all|first as img %}{{ img.get_url }}{% endwith %}"
                                    class="img-responsive" />
                                <h4>{{ p.title }}</h4>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="review-row-container">
        <div class="col-md-10 col-md-offset-1">
            {% for r in property.get_place_review_details %}
                <div class="row review-row">
                    <div class="col-md-3 text-center">
                        <img src="{{ r.author_url|get_image_url }}" class="img-responsive img-circle" style="margin-left:auto; margin-right:auto;"/>
                        <p>{{ r.author_name }}</p>
                        <p>
                            {% with r.rating as rating %}
                                {% include "maininclude/rating.html" %}
                            {% endwith %}
                        </p>
                    </div>
                    <div class="col-md-9">
                        {{ r.text }}
                    </div>
                </div>
            {% empty %}
            <div class="jumbotron text-center">
                <h2>There are no reviews for this property</h2>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}