{% extends "searchinclude/base.html" %}
{% load staticfiles %}

{% block body %}
    <div id="group-search-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    {% if groups %}
                        <h3 class="text-center">Manage Your Groups</h3>
                            {% if error_msg %}
                                <p class="alert alert-danger">{{ error_msg }}</p>
                            {% endif %}
                            <table class="table table-striped">
                                <tbody>
                                    {% for g in groups %}
                                        <tr>
                                            <td class="col-sm-6">
                                                <a class="btn btn-default" href="{{ g.get_absolute_url }}">
                                                    {{ g }}</a><br>
                                            </td>
                                            <td class="col-sm-6">
                                                <form class="form-inline" role="form" method="post" >
                                                    {% csrf_token %}
                                                    <div class="input-group">
                                                        <input type="text" class="form-control"
                                                               placeholder="Add user to group"
                                                               name="username">
                                                        <input type="hidden" name="group_id" value="{{ g.id }}">
                                                        <span class="input-group-btn">
                                                           <button type="submit" name="add" class="btn btn-brand btn-add">
                                                               <span class="glyphicon glyphicon-plus"></span>
                                                           </button>
                                                        </span>
                                                    </div>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        <h3 class="text-center margin-top">Manage Your Group Members</h3>
                        <table class="table table-striped">
                            <tbody>
                                {% for g in groups %}
                                    {% for m in g.groupmember_set.all %}
                                        <tr>
                                            <td>{{ m.group }}</td>
                                            <td>{{ m.user.first_name }} {{ m.user.last_name }}</td>
                                            <td>
                                                <form class="form-inline" role="form" method="post" >
                                                    {% csrf_token %}
                                                    <input name="username" type="hidden" value="{{ m.user }}" />
                                                    <input name="group_id" type="hidden" value="{{ m.group.id }}" />
                                                    <button class="btn btn-danger" name="remove" type="submit">
                                                    {% if m.user == request.user %}Leave{% else %}Remove{% endif %}
                                                    <span class="glyphicon glyphicon-remove"></span></button><br>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="well text-center">
                            <h2>You aren't in any groups :( </h2> <a class="btn btn-brand btn-lg margin-top"
                                href="{% url 'search-group-create' %}">Create A Group
                                <span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                    {% endif %}
                </div>
                <div class="col-sm-4">
                    <div class="well">
                        <h4>Add members to your group to share notes and search together</h4>
                    </div>
                    <div class="well">
                        <h4>Leave groups or kick out your "friend" who backed out last minute</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}