{% extends "maininclude/base.html" %}
{% load staticfiles %}

{% block title %}
    Apartments for Students
    {% if school %}
         in {{ school.city }}
    {% endif %}
{% endblock %}

{% block wrap %}
    {% include "searchinclude/map_script.html" %}

    {% block body %}
        {% if school %}
            <div id="map-canvas" class="col-md-5 pull-left">
            </div>

            <div class="col-md-7 map-side" id="list-view">
                {% include "searchinclude/searchbox.html" %}
                <h1 class="hidden-xs hidden-sm text-center page-header">
                    Apartments in {{ school.city }}
                </h1>
                {% for a in properties %}
                    {% if forloop.first or forloop.counter0|divisibleby:"2" %}<div class="row list-view-row">{% endif %}
                        <div class="col-xs-6">
                            <a href="{% url 'property' a.id a.title|slugify %}" style="position:relative;">
                                <img src="{% with a.propertyimage_set.all|first as img %}{{ img.get_url }}{% endwith %}"
                                title="Apartments - {{ a.title }}" alt="Apartments - {{ a.title }}" class="img-responsive" />
                                <div class="price-overlay main-inverse">
                                    ${{ a.low_price|floatformat:"0" }}/${{ a.high_price|floatformat:"0" }}
                                </div>
                            </a>
                            <div class="list-view-content">
                                <h3>{{ a.title }}</h3>
                                <h4>{{ a.addr }}</h4>
                                {% if a.rating %}
                                    {% with a.rating as rating %}
                                        {% include "maininclude/rating.html" %}
                                    {% endwith %}
                                {% endif %}
                            </div>
                        </div>
                    {% if forloop.last or forloop.counter|divisibleby:"2" %}</div>{% endif %}
                {% empty %}
                <div class="jumbotron">
                    <h2>There were no results from your search, try searching with less strict criteria.</h2>
                </div>
                {% endfor %}
            </div>
        {% endif %}

        {# if no school is passed in, pop up the modal for user to choose #}
        {% include "searchinclude/modals/schoolsearch.html" %}
    {% endblock %} {# end body #}

    {# hide the footer #}
    {% block footer %}{% endblock %}

{% endblock %} {# end wrap #}