{% extends "maininclude/base.html" %}
{% load staticfiles %}

{% block title %}
    Apartments for Students
    {% if school %}
         in {{ school.city }}
    {% elif company %}
        for {{ company }}
    {% endif %}
{% endblock %}

{% block wrap %}
    {% include "searchinclude/map_script.html" %}

    {% block body %}
        {% if school or company %}
            <div id="map-canvas" class="col-md-5 pull-left">
            </div>

            <div class="col-md-7 map-side" id="list-view">
                {% include "searchinclude/searchbox.html" %}
                <h1 class="hidden-xs hidden-sm text-center page-header">
                    {% if school %}
                        Apartments in {{ school.city }}
                    {% elif company %}
                        Apartments for {{ company }}
                    {% endif %}
                </h1>
                {% for p in properties %}
                    {% include 'propertyinclude/property_list.html' %}
                {% empty %}
                <div class="jumbotron">
                    <h2>There were no results from your search, try searching with less strict criteria.</h2>
                </div>
                {% endfor %}
            </div>
        {% endif %}

        {# if no school is passed in, pop up the modal for user to choose #}
        {% if not company %}
            {% include "searchinclude/modals/schoolsearch.html" %}
        {% endif %}
    {% endblock %} {# end body #}

    {# hide the footer #}
    {% block footer %}{% endblock %}

{% endblock %} {# end wrap #}