{% extends "schoolinclude/base.html" %}

{% block title %}
    Apartment School Community for {{ school }}
{% endblock %}

{% block wrap %}
    {# override wrap to enable the full map #}
    {% include "schoolinclude/header.html" %}

    {% block body %}
        {% include "schoolinclude/object_list_map.html" %}
        <div class="col-md-8 col-col-sm-12 map-side">
            {% if neighborhood %}
                <h1 class="page-header text-center">
                    {{ neighborhood }} Community
                </h1>
                <div class="well text-center">
                    Want to see the full community of <a href="{{ school.get_info_url }}">{{ school }}</a>?
                </div>
            {% else %}
                <h1 class="page-header text-center">
                    {{ school }} Community
                </h1>
                <div class="well text-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Looking for a specific neighborhood? <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-right text-left" role="menu">
                        {% for n in neighborhoods %}
                            <li><a href="{{ n.get_absolute_url }}">{{ n }}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                </div>
            {% endif %}
            <div id="school-item-list">
                {% for i in items %}
                    {% if forloop.first or forloop.counter0|divisibleby:"2" %}<div class="row">{% endif %}
                        <div class="col-xs-6 school-item">
                            <div class="row {{ i.type }}-item-header item-header">
                                <h4>{{ i.title }}</h4>
                            </div>
                            <div class="row item-picture">
                                <img class="img-responsive" src="{{ i.image_url }}" />
                            </div>
                            {% if i.content %}
                                <div class="row item-body">
                                    {{ i.content }}
                                </div>
                            {% endif %}
                        </div>
                    {% if forloop.last or forloop.counter|divisibleby:"2" %}</div>{% endif %}
                {% endfor %}
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block footer %}{% endblock %}