{% extends "schoolinclude/base.html" %}

{% block title %}
    Apartment School Community for {{ school }}
{% endblock %}

{% block wrap %}
    {# override wrap to enable the full map #}
    {% include "schoolinclude/header.html" %}

    {% block body %}
        {% include "schoolinclude/object_list_map.html" %}
        <div class="col-md-7 col-md-sm-12 map-side">
            <h1 class="page-header text-center">
                {% if neighborhood %}
                    {{ neighborhood }} Community
                    <p>Show Events, Deals, Articles in Neighborhood</p>
                {% else %}
                    {{ school }} Community
                {% endif %}
            </h1>
            {% if neighborhood %}
                <a href="{{ school.get_info_url }}">{{ school }}</a>
            {% elif school %}
                <div id="school-item-list">
                    {% for i in items %}
                        {% if forloop.first or forloop.counter0|divisibleby:"2" %}<div class="row">{% endif %}
                            <div class="col-xs-6 school-item">
                                <div class="row {{ i.type }}-item-header item-header">
                                    <h4>{{ i.title }}</h4>
                                </div>
                                <div class="row item-picture">
                                    <img class="img-responsive" src="{{ i.image_url }}" />
                                </div>
                                {% if i.content %}
                                    <div class="row item-body">
                                        {{ i.content }}
                                    </div>
                                {% endif %}
                            </div>
                        {% if forloop.last or forloop.counter|divisibleby:"2" %}</div>{% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endblock %}
{% endblock %}

{% block footer %}{% endblock %}