{% extends "cainclude/base.html" %}

{% block wrap %}
    {% include "schoolinclude/map_script.html" %}

    {% block body %}
        <div class="ca-container">
            <div class="row full-height">
                <div id="ca-menu" class="col-sm-2">
                    {% include "cainclude/menu.html" %}
                </div>
                <div id="ca-data" class="col-sm-10">
                    {% block data %}{% endblock %}
                </div>
            </div>
        </div>
    {% endblock %} {# end body #}

{% endblock %} {# end wrap #}
