{% extends "maininclude/base.html" %}

{% block body %}
<div class="col-md-8 col-md-offset-2 col-xs-12">
    <div id="error-container" class="jumbotron text-center">
        <h1 class="page-header">Page Not Found</h1>
        <h3>Either you have entered an incorrect URL or we have messed up. Hopefully it's the first one.</h3>
        <div class="row btn-row">
            <div class="col-md-4">
                <a class="btn btn-success btn-lg" href="/">Home</a>
            </div>
            <div class="col-md-4">
                <a class="btn btn-success btn-lg" href="/search/">Search</a>
            </div>
            <div class="col-md-4">
                <a class="btn btn-success btn-lg" href="/schoolinfo/">School</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}