{% extends "maininclude/base.html" %}

{% block body %}
<div class="col-md-8 col-md-offset-2 col-xs-12">
  <div id="error-container" class="jumbotron text-center">
    <h1 class="page-header">Server Error</h1>
    <h3>This one is on us. We're looking into the error right now.</h3>
    <div class="row btn-row">
      <div class="col-md-4">
        <a class="btn btn-brand btn-lg" href="/">Home</a>
      </div>
      <div class="col-md-4">
        <a class="btn btn-brand btn-lg" href="/search/">Search</a>
      </div>
      <div class="col-md-4">
        <a class="btn btn-brand btn-lg" href="/schoolinfo/">School</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}