{% extends "reinclude/dashboard.html" %}
{% load pagination_tags %}

{% block data %}
  <h1 class="text-center">
    Property Adminstration
  </h1>
  <div class="inner">
    <div class="re-dash-info skinny text-center">
      You can edit your properties, view the search page with all your properties, or create
      a new property {{ search}}
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-5">
          <form method="get" style="margin-top:0;">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Filter Properties">
              <span class="input-group-btn">
                <button class="btn btn-brand" type="submit">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
          </form>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
          <a class="btn btn-brand" href="{% url 'search' company.slug %}">
            View in Search Page
          </a>
        </div>
        <div class="col-sm-3">
          <a class="btn btn-brand" href="{% url 'add-property' %}">
            Create New Property
          </a>
        </div>
      </div>
      {% autopaginate property_list 10 %}
    </div>
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10">
        {% include "reinclude/tables/properties.html" %}
        <div class="text-center">
          {% paginate %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}